{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsoferta/editarOferta.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header with-border">
                    <h5>Editar datos de oferta.</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formuEditar">
                                {% csrf_token %}
                                <!-- Nombres -->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Primer Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre1" name="nombre1"
                                            value="{{oferta.primer_nombre}}" required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Segundo Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre2" name="nombre2"
                                            value="{{oferta.segundo_nombre}}" required>
                                    </div>
                                </div>

                                <!--apellidos-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Primer apellido</span>
                                        </div>
                                        <input type="text" class="form-control" id="apellido1" name="apellido1"
                                            value="{{oferta.primer_apellido}}" required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Segundo Apellidos</span>
                                        </div>
                                        <input type="text" class="form-control" id="apellido2" name="apellido2"
                                            value="{{oferta.segundo_apellido}}" required>
                                    </div>
                                </div>

                                <!--Genero-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Género</span>
                                        </div>
                                        <select class="custom-select" id="genero" name="genero" required>
                                            {% if oferta.genero == 'Masculino' %}
                                            <option value="Masculino" selected>Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Otro">Otro</option>
                                            {% elif oferta.genero == 'Femenino'%}
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino" selected>Femenino</option>
                                            <option value="Otro">Otro</option>
                                            {% else %}
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Otro" selected>Otro</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!--Fecha nacimiento-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Fecha de nacimiento</span>
                                        </div>
                                        <input type="date" class="form-control" id="fechaNaci" name="fechaNaci"
                                            placeholder="Ingrese fecha de nacimiento" data-mask=""
                                            value="{{oferta.fecha_nacimiento|date:'yy-m-d'}}" required>
                                    </div>
                                </div>

                                <!--Telefono-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Teléfono</span>
                                        </div>
                                        <input type="text" class="form-control" id="telefono" name="telefono"
                                            placeholder="Ingrese el número de teléfono del paciente"
                                            data-inputmask='"mask": "9999-9999"' data-mask value="{{oferta.telefono}}">
                                    </div>
                                </div>

                                <!--Direccion-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Dirección</span>
                                        </div>
                                        <input type="text" class="form-control" id="direccion" name="direccion"
                                            placeholder="Ingrese la dirección" value="{{oferta.direccion}}" required>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Departamento</span>
                                        </div>
                                        <select class="custom-select" id="departamento" name="departamento" required>
                                            <option value="" selected disabled>Elija el departamento</option>
                                            {% if departamentos %}
                                            {% for depart in departamentos %}
                                            {% if oferta.depa_id_id == depart.id  %}
                                            <option value="{{ depart.id }}" selected>{{ depart.nombreDepartamento }}
                                            </option>
                                            {% endif %}
                                            <option value="{{ depart.id }}">{{ depart.nombreDepartamento }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Municipio</span>
                                        </div>
                                        <select class="custom-select" id="municipio" name="municipio" required>
                                            <option value="" selected disabled>Elija el municipio</option>
                                            {% if municipios %}
                                            {% for muni in municipios %}
                                            {% if oferta.municipio_id_id == muni.id  %}
                                            <option value="{{ muni.id }}" selected>{{ muni.nombreMunicipio }}</option>
                                            {% endif %}
                                            <option value="{{ muni.id }}" data-region="{{ muni.departamento_id_id }}">
                                                {{ muni.nombreMunicipio }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!--DUI-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">DUI</span>
                                        </div>
                                        <input type="text" class="form-control" id="dui" name="dui"
                                            placeholder="Ingrese el DUI" data-inputmask='"mask": "99999999-9"' data-mask
                                            value="{{oferta.dui}}" required>
                                    </div>
                                </div>

                                <!--NIT-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">NIT</span>
                                        </div>
                                        <input type="text" class="form-control" id="nit" name="nit"
                                            placeholder="Ingrese el NIT" data-inputmask='"mask": "9999-999999-999-9"'
                                            data-mask value="{{oferta.nit}}" required>
                                    </div>
                                </div>

                                <!--Usuario Sistema-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Usuario</span>
                                        </div>
                                        <select class="custom-select" id="usersis" name="usersis" required>
                                            <option value="{{oferta.auth_id_id}}" selected>
                                                {{oferta.auth_id.first_name}}</option>
                                            {% if usuarios %}
                                                {% for userdispo in usuarios %}
                                                    <option value="{{ userdispo.id }}">{{ userdispo.first_name }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!--Departamento al que pertenece-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Departamento al que pertenece</span>
                                        </div>
                                        <select class="custom-select" id="tipoDepa" name="tipoDepa" required>
                                            <option value="" selected disabled>Elija el departamento</option>
                                            {% if tipoDepas %}
                                            {% for tipo in tipoDepas %}
                                            {% if oferta.id_departamento_id == tipo.id %}
                                            <option value="{{ tipo.id}}" selected>{{ tipo.nombre }}</option>
                                            {% else %}
                                            <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!--Fecha contratacion-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Fecha de contratacion</span>
                                        </div>
                                        <input type="date" class="form-control" id="fechacontra" name="fechacontra"
                                            placeholder="Ingrese fecha de Contratación" data-mask=""
                                            value="{{oferta.fecha_contratacion|date:'yy-m-d'}}" required>
                                    </div>
                                </div>                                
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexOferta' %}" role="button" class="btn btn-danger">Cancelar</a>
                            <button type="submit" id="guardar" name="guardar" class="btn btn-info">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}