{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card card-info">
                <div class="card-header with-border">
                    <h5>Datos de empleado.</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="">
                                {% csrf_token %}
                                <!-- Nombres -->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Primer Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre1" name="nombre1"
                                            value="{{empleado.primer_nombre}}" disabled>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Segundo Nombre</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre2" name="nombre2"
                                            value="{{empleado.segundo_nombre}}" disabled>
                                    </div>
                                </div>

                                <!--apellidos-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Primer apellido</span>
                                        </div>
                                        <input type="text" class="form-control" id="apellido1" name="apellido1"
                                            value="{{empleado.primer_apellido}}" disabled>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Segundo Apellidos</span>
                                        </div>
                                        <input type="text" class="form-control" id="apellido2" name="apellido2"
                                            value="{{empleado.segundo_apellido}}" disabled>
                                    </div>
                                </div>

                                <!--Genero-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Género</span>
                                        </div>
                                        <select class="custom-select" id="genero" name="genero" disabled>
                                            {% if empleado.genero == 'Masculino' %}
                                            <option value="Masculino" selected>Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Otro">Otro</option>
                                            {% elif empleado.genero == 'Femenino'%}
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino" selected>Femenino</option>
                                            <option value="Otro">Otro</option>
                                            {% else %}
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Otro" selected>Otro</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!--Fecha nacimiento-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Fecha de nacimiento</span>
                                        </div>
                                        <input type="date" class="form-control" id="fechaNaci" name="fechaNaci"
                                            placeholder="Ingrese fecha de nacimiento" data-mask=""
                                            value="{{empleado.fecha_nacimiento|date:'yy-m-d'}}" disabled>
                                    </div>
                                </div>

                                <!--Telefono-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Teléfono</span>
                                        </div>
                                        <input type="text" class="form-control" id="telefono" name="telefono"
                                            placeholder="Ingrese el número de teléfono del paciente"
                                            data-inputmask='"mask": "9999-9999"' data-mask value="{{empleado.telefono}}" disabled>
                                    </div>
                                </div>

                                <!--Direccion-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Dirección</span>
                                        </div>
                                        <input type="text" class="form-control" id="direccion" name="direccion"
                                            placeholder="Ingrese la dirección" value="{{empleado.direccion}}" disabled>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Departamento</span>
                                        </div>
                                        <select class="custom-select" id="departamento" name="departamento" disabled>
                                            <option value="" selected disabled>Elija el departamento</option>
                                            {% if departamentos %}
                                            {% for depart in departamentos %}
                                            {% if empleado.depa_id_id == depart.id  %}
                                            <option value="{{ depart.id }}" selected>{{ depart.nombreDepartamento }}
                                            </option>
                                            {% endif %}
                                            <option value="{{ depart.id }}">{{ depart.nombreDepartamento }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Municipio</span>
                                        </div>
                                        <select class="custom-select" id="municipio" name="municipio" disabled>
                                            <option value="" selected disabled>Elija el municipio</option>
                                            {% if municipios %}
                                            {% for muni in municipios %}
                                            {% if empleado.municipio_id_id == muni.id  %}
                                            <option value="{{ muni.id }}" selected>{{ muni.nombreMunicipio }}</option>
                                            {% endif %}
                                            <option value="{{ muni.id }}" data-region="{{ muni.departamento_id_id }}">
                                                {{ muni.nombreMunicipio }}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!--DUI-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">DUI</span>
                                        </div>
                                        <input type="text" class="form-control" id="dui" name="dui"
                                            placeholder="Ingrese el DUI" data-inputmask='"mask": "99999999-"' data-mask
                                            value="{{empleado.dui}}" disabled>
                                    </div>
                                </div>

                                <!--NIT-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">NIT</span>
                                        </div>
                                        <input type="text" class="form-control" id="nit" name="nit"
                                            placeholder="Ingrese el NIT" data-inputmask='"mask": "9999-999999-999-"'
                                            data-mask value="{{empleado.nit}}" disabled>
                                    </div>
                                </div>

                                <!--Usuario Sistema-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Usuario</span>
                                        </div>
                                        <select class="custom-select" id="usersis" name="usersis" disabled>
                                            <option value="{{empleado.auth_id_id}}" selected>
                                                {{empleado.auth_id.first_name}}</option>
                                            {% if usuarios %}
                                                {% for userdispo in usuarios %}
                                                    <option value="{{ userdispo.id }}">{{ userdispo.first_name }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!--Departamento al que pertenece-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Departamento al que pertenece</span>
                                        </div>
                                        <select class="custom-select" id="tipoDepa" name="tipoDepa" disabled>
                                            <option value="" selected disabled>Elija el departamento</option>
                                            {% if tipoDepas %}
                                            {% for tipo in tipoDepas %}
                                            {% if empleado.id_departamento_id == tipo.id %}
                                            <option value="{{ tipo.id}}" selected>{{ tipo.nombre }}</option>
                                            {% else %}
                                            <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                                <!--Fecha contratacion-->
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Fecha de contratacion</span>
                                        </div>
                                        <input type="date" class="form-control" id="fechacontra" name="fechacontra"
                                            placeholder="Ingrese fecha de Contratación" data-mask=""
                                            value="{{empleado.fecha_contratacion|date:'yy-m-d'}}" disabled>
                                    </div>
                                </div>                                
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexEmpleado' %}" role="button" class="btn btn-danger">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}