{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsempleado/indexEmpleado.js' %}"></script>
{% endblock %}

{% block content %}
{% if messages %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
{% endif %}
<br>
<br>
<br>
<div class="row">
    <div class="col-10 offset-1">
        <div class="card card-dark">
            <div class="card-header">
                Listado de empleados
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 offset-lg-10 text-right">
                        <a class="btn btn-info" href="{% url 'empleado_crear' %}" role="button"> <i class="fa fa-plus"
                                aria-hidden="true"></i>
                            Agregar</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col align-self-center">
                        <div class="table-responsive">
                            <table class="table display table-bordered table-striped" name="indexEmpleado"
                                id="indexEmpleado">
                                <thead class="bg-secondary">
                                    <tr>
                                        <td>Nombre del empleado</td>
                                        <td>Genero</td>
                                        <td>Pertenece al Departamento</td>                                     
                                        <td>Telefono</td>
                                        <td>Opciones</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if empleados %}
                                    {% for empleado in empleados %}
                                    <tr>
                                        <td> {{ empleado.primer_nombre }} {{ empleado.segundo_nombre }}
                                            {{ empleado.primer_apellido }} {{ empleado.segundo_apellido }}
                                        </td>
                                        <td> {{ empleado.genero }}</td>
                                        <td> {{ empleado.id_departamento.nombre }}</td>
                                        <td> {{ empleado.telefono }}</td>
                                        <td>
                                            <a href="{% url 'empleado_editar' empleado.id %}" class="btn btn-sm btn-success">Actualizar</a>
                                            <a href="{% url 'empleado_detalle' empleado.id %}" class="btn btn-sm btn-secondary">Detalles</a>
                                            <a href="{% url 'empleado_eliminar' empleado.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}