{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsdepartamento/ingresarDepartamento.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-8 offset-2 ">
            <div class="card card-dark">

                <div class="card-header with-border">
                    Ingresar Departamento.
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="post" name="formulario">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1 ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Codigo del departamento</span>
                                        </div>
                                        <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ingrese el código del departamento" required>
                                    </div>
                                </div>   
                                <div class="row form-group">
                                    <div class="input-group col-lg-10 offset-lg-1 ">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Nombre del departamento</span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre" name="nombre" laceholder="Ingrese el nombre del departamento" required>
                                    </div>
                                </div>                        
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 offset-lg-7 text-right">
                            <a href="{% url 'indexDepartamento' %}" role="button" class="btn btn-danger">Cancelar</a>
                            <button type="submit" id="guardar" name="guardar" class="btn btn-info">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

