{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}
<!-- Varible que dispara los sweet alerts -->
<ul>
    {% for message in messages %}
    <input type="text" name="opt" id="opt" value="{{ message }}" hidden>
    {% endfor %}
</ul>
<!-- Varible que dispara los sweet alerts fin -->
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card card-info">
            <div class="card-header">
                Listado de requisicion
            </div>
            
            <br>
                <div class="row">
                    <div class="col align-self-center">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="requision">
                                <thead class="bg-info">
                                    <tr>
                                        <th>Id</th>
                                        <th>Fecha pedido</th>
                                        <th>Fecha entrega</th>
                                        <th>Estado</th>
                                        <td>Opciones</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if requision %}
                                    {% for requi in requision %}
                                    <tr>
                                        <td>{{requi.id}}</td>
                                        <td>{{requi.fecha_pedido}}</td>
                                        <td>{{requi.fecha_entrega}}</td>
                                        <td>{{requi.estado}}</td>
                                        <td>
                                                <a href="{% url 'boton_aprobar' requi.id %}" 
                                                class="btn btn-sm btn-danger" id="eliminar">Aprobar</a>
                                                <input type="hidden"  />
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}