{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static 'dist/js/jsrequisicion/editarRequisicion.js' %}"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row align-items-center">
        <div class="col-10 offset-1 ">
            <div class="card card-dark">

                <div class="card-header with-border">
                    <h5>Datos de Requisicion.</h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <!-- Inicio del form -->
                            <form method="post" name="form_edit" >
                                {% csrf_token %}
                                <!-- Inicio del div de Estado -->
                                <div class="card card-secondary card-outline border-secondary mb-3 col-lg-10 offset-lg-1">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <h5>Departamento: {{ requision.id_departamento.nombre }} </h5> 
                                            <h5>Estado: {{ requision.estado }}</h5>
                                        </h3>
                                    </div>
                                    <br>
                                    <!-- Fecha de pedido -->
                                    <div class="row form-group">
                                        <div class="input-group col-lg-10 offset-lg-1 ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Fecha Pedido</span>
                                            </div>
                                            <input type="date" class="form-control" id="fecha_pedido" name="fecha_pedido"
                                                data-mask="" value="{{requision.fecha_pedido|date:'yy-m-d'}}" Disabled >
                                        </div>
                                    </div>
                                    <!-- Fecha de Entrega -->
                                    <div class="row form-group">
                                        <div class="input-group col-lg-10 offset-lg-1 ">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Fecha de Entrega</span>
                                            </div>
                                            <input type="date" class="form-control" id="fecha_entrega" name="fecha_entrega"
                                                data-mask="" value="{{ requision.fecha_entrega|date:'yy-m-d' }}" Disabled>
                                        </div>
                                    </div>

                                    
                            <div class="card-header">
                                <h5>Listado articulos para requesición.</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="tableArticulosRequisicion" name="tableArticulosRequisicion" style="width: 100%;">
                                        <thead class="bg-secondary">
                                            <tr>
                                                <td>Serial </td>
                                                <td>Articulo </td>
                                                <td>Modelo</td>
                                                <td>Cantidad </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if rearticulo %}
                                            {% for rec in rearticulo %}
                                            <tr>
                                                <td>{{rec.articulo.serial}}</td>
                                                <td>{{rec.articulo.nombre}}</td>
                                                <td>{{rec.articulo.modelo}}</td>
                                                <td>{{rec.cantidad_pedido}}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                                    <div class="row">
                                        <div class="col-lg-4 offset-lg-7 text-right">
                                           <a href="{% url 'cancelarRequision' %}" role="button" class="btn btn-danger">Regresar</a>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <!-- Fin del div de Estado -->
                            </form>
                            <!-- Fin del form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}